// Name:			Base List Styles
// Description:		Defines styles for Base List Styles
//
// ===========================================================================

/*
Contents:
  Base List Styles
*/

/*  ==========================================================================
    Base List Styles
    ========================================================================== */

ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}
